#section-wrap{
            // display: flex;
            // align-items: center;
    .wrapper{
        background-color: rgb(169, 202, 243);
        
    }
    .form-group{
        padding: 8px;
       
    }
    .nameInput{
        color: red;
    }
   
    
}