<section id="section-id" >
    <div class="container">
        <div class="row">
            <div class="colomn">
                <div class="wrapper">
                    <div class="login-form">
                        <h1>
                       Login
                        </h1>
                    </div>
                <div  [formGroup]="user"class="wrap-field" >
                    <div class="form-group">
                        <label for="">username</label>
                        <input formControlName="name" type="text">
                        <div *ngIf="register['name'].invalid && (register['name'].dirty||register['name'].touched)">
                            <div class="nameInput" *ngIf="register['name'].errors?.required">
                                name is required
                            </div>
                        </div>
                       </div>
                       <div class="form-group">
                        <label for="">Password</label>
                        <input formControlName="password" type="text">
                        <div *ngIf="register['password'].invalid && (register['password'].dirty||register['password'].touched)">
                            <div class="nameInput" *ngIf="register['password'].errors?.required">
                                Password is required
                            </div>
                            <span class="nameInput" *ngIf="register['password'].errors?.['pattern']">Invalid email address format</span>
                        </div>
                    </div>
                </div>
                   
                 <div>
                    <button (click)="login()" >
                        Login
                    </button>
                 </div>
                    <div class="dont-haveacc">
                        <p>
                            Dont have account?<a href="/signup">Signup</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
