#section-id{

        // background-image: url("https://cdn.luxe.digital/media/2020/05/07203610/best-coffee-beans-luxe-digital.jpg");
        background-color: #cccccc;
        display: flex;
        align-items: center;
        justify-content: center;
       .wrapper{
        padding: 8px;
       }
    .label-cls{
        padding: 8px;


    }
    .wrap-field {
        padding: 8px;
    }
    .nameInput{
        color:red
    }
    .input-field{
    padding: 8px;
    }
    .button-sub{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}